body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0; /* Убираем отступы */
    padding: 0; /* Убираем отступы */
    background-image: url('img/background.gif'); /* Укажи путь к твоему GIF */
    background-size: cover; /* Масштабирует фон так, чтобы он заполнил весь экран */
    background-position: center; /* Центрирует фон */
    background-repeat: no-repeat; /* Изображение не повторяется */
    background-attachment: fixed; /* Фон остаётся на месте при прокрутке */
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2em;
    color: #333;
}

#scoreboard {
    margin: 20px 0;
    font-size: 1.5em;
}

#clickerButton {
    padding: 15px 30px;
    font-size: 1.2em;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#clickerButton:active {
    background-color: #45a049;
}

#clickerImage {
    width: 100px; /* Уменьшение в 2-3 раза, можно регулировать */
    height: auto; /* Автоматическое сохранение пропорций */
    cursor: pointer;
    transition: transform 0.3s ease;
}

#clickerImage:active {
    transform: scale(0.95); /* Эффект уменьшения при нажатии */
}
#taskImages {
    position: absolute; /* Позиционируем в верхнем углу */
    top: 10px; /* Отступ сверху */
    left: 10px; /* Отступ слева */
    display: flex; /* Для размещения изображений в ряд */
}

.taskImage {
    width: 40px; /* Размер изображений */
    height: auto; /* Сохранение пропорций */
    margin-right: 5px; /* Отступ между изображениями */
    display: inline-block; /* Размещаем изображения в ряд */
}

.task-container {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.taskButton {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.taskButton:hover {
    background-color: #0056b3;
}
